
.labels-list__item{

    display: grid;
    grid-template-columns: repeat(6,minmax(0px,120px));
    grid-auto-rows: 40px;
    gap: var(--space_2);
}
.labels-list__item > *{
    white-space: nowrap;
    overflow: scroll;
}