/* 

Bloques:

job-card

Elementos:

  general-info-container

  general-info__text
  description
  logo

Modificadores
 sin modificadores

*/

.job-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--space-6);
  justify-content: space-between;
  box-shadow: var(--shadow-sm);
  gap: var(--space-3);

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.job-card__general-info-container {
  display: flex;
  gap: var(--space-4);
  min-width: 280px;

  @media (min-width: 768px) {
    border-right: 2px solid var(--primary--500);
    margin-right: var(--space-4);
  }
}

.job-card__general-info {
  display: flex;
  flex-direction: column;
}
.job-card__logo {
  width: 80px;
}
