.navbar-mobile {
  position: fixed;
  z-index: 10;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (width >=768px) {
    display: none;
  }
}
.navbar-mobile__menu {
  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-content: end;
  bottom: 0px;
  box-shadow: var(--shadow-sm);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background: rgba(6, 6, 6, 0.9);
}
.navbar-mobile__items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}
.navbar-mobile__social-container {
  display: flex;
  min-width: 150px;
  justify-content: center;
  margin-bottom: 150px;
  gap: 15px;
  border-top-style: solid;
  border-top-color: var(--primary--500);
  padding-top: 30px;
}
.navbar-mobile--open {
  .navbar-mobile__menu {
    display: flex;
  }
}
.navbar-mobile__item > * {
  /* padding: 10px; */
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-mobile-menu-button {
  z-index: 4;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
  padding: 10px;
  background: rgba(6, 6, 6, 0.8);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border-radius: 10px;
  border: 1px solid var(--primary--500);
  box-shadow: var(--shadow-sm);
}

.navbar-mobile-menu-button__line {
  display: block;
  width: 35px;
  height: 4px;
  background-color: var(--primary--500);
  transition: all 0.5s;
  box-shadow: var(--shadow-sm);
}

.navbar-mobile-menu-button--open .navbar-mobile-menu-button__line1 {
  transform: translateY(12px) rotate(-45deg);
}

.navbar-mobile-menu-button--open .navbar-mobile-menu-button__line2 {
  opacity: 0;
}

.navbar-mobile-menu-button--open .navbar-mobile-menu-button__line3 {
  transform: translateY(-12px) rotate(45deg);
}
