@import url("./components/molecules/Carousel/style.css");
@import url("./components/molecules/Modal/modal.css");
@import url("./components/molecules/NavbarDesktop/navbar-desktop.css");
@import url("./components/molecules/NavbarMobile/navbar-mobile.css");
@import url("./components/molecules/ProjectCard/style.css");
@import url("./components/molecules/ContactForm/style.css");
@import url("./components/molecules/JobCard/style.css");
@import url("./components/atoms/AccordionItem/style.css");
@import url("./components/atoms/Link/style.css");
@import url("../../../styles/globals.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}




/* social media */
.linkedin-icon {
  fill: var(--white);
  stroke: var(--white);
}
.linkedin-icon:hover {
  fill: var(--primary--600);
}

.github-icon {
  fill: var(--white);
}

.github-icon:hover {
  fill: var(--primary--600);
}



.l-horizontal{
  display: flex;
  flex-direction: row;
}
.l-gap-1{
  gap: var(--space-1);
}

.l-gap-2{
  gap: var(--space-2);
}

.l-gap-3{
  gap: var(--space-3);
}