.sidebar-button{
    position: absolute;
    top: 0;
    right: 0;
    color: aliceblue;
}
.sidebar{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    height: 100svh;
    display: none;
}

.sidebar--open{
    display: block;
}
.sidebar__header{
    margin-block: 2rem;
}
.sidebar__body{
    overflow-y: auto;
    max-height: 70svh;
}
.sidebar__bottom{
    position: absolute;
    bottom: 0;
}
.sidebar-item{
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-right:var(--space-10) ;
    padding-block:var(--space-5);
    --icon-color:var(--foreground--50)
}
.sidebar-item:hover .sidebar-item__name{
    color: var(--primary--600);
}

.sidebar-item:hover .sidebar-item__icon{
    --icon-color: var(--primary--600);
}
.sidebar-item--active{
    background: var(--primary--600);
    --icon-color:var(--foreground--950);

}
.sidebar-item--active .sidebar-item__name{
    color: var(--foreground--950) !important;
}
.sidebar-item--active .sidebar-item__icon{
    
    --icon-color:var(--foreground--950) !important;
}

.sidebar-item__name{
    font-family:  sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    color: var(--foreground--50);
}
.sidebar-item__icon{
    width: 1.5rem;

}
.sidebar-item--active .sidebar-item__name{
    color: var(--foreground--950);
}