.icon-button {
    cursor: pointer;
    background: transparent;
    border: 1px solid var(--white);
    display: flex;
    width: max-content;
    height: max-content;
    transition: all 0.5s;
    background: var(--neutral--950) !important;

}
.icon-button:hover{
    color: black;
    border-color: var(--primary--600);
    background-color: var(--primary--600) !important;
    transition: all 0.5s;
    box-shadow: 0 0 5px var(--primary--600),
    0 0 25px var(--primary--600),
    0 0 50px var(--primary--600),
    0 0 200px var(--primary--600);
  
}

.icon-button svg{
    fill: white;
}
.icon-button svg:hover{
    fill: black;
}