.section-container {
  padding-inline: var(--space-3);
  z-index: 3;
  position: relative;
  width: 100%;
  max-width: 1512px;
  margin-inline: auto;
}

@media (min-width: 768px) {
  .section-container {
    padding-inline: var(--space-5);

  }
}

@media (min-width: 1024px) {
  .section-container {
    padding-inline: var(--space-20);

  }
}
