.table-container {
  overflow-x: auto;

  border: 1px solid var(--primary--500);
  padding: 10px;
  /* margin: 10px; */
  height: 400px;
}

.table {

  tr {
    padding-inline: 20px;
  }
  thead{
  }
  th {
    color: var(--foreground--200);
    text-align: left;
    padding-bottom: 20px;
    padding-right: 10px;
}

  tbody {
    tr {
    }
    td {
      height: 40px;
      max-width: 300px;
      color: var(--foreground--200);
      align-content: baseline;
      text-wrap: nowrap;
      overflow: hidden;
    }
    td:hover {
      text-wrap: wrap;
    }
  }
}
