.table-container {
  overflow-x: auto;
  border: 1px solid var(--primary--500);
  padding: 10px;
  height: 410px;

}
.table{
  border-spacing: 0 !important;
  border-collapse: separate;
  width: 100%;

}
.table__header-row{
  
}
.table-pagination{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}
.table__header-cell{
  color: var(--primary--500);
  text-align: left;
  padding-right: 20px;
  padding-bottom: 12px;
  font-family: var(--typography-primary);
}
.table__row{
  position: relative;
  transition-property: background-color;
  transition-duration: 0.3s;
  &:hover{
    background-color: rgba(219, 21, 64, 0.089);
    .table__body-cell{
      color: var(--primary--500);
      
    }
  }
}
.table__body-cell{
  color: var(--foreground--100);
  height: 35px;
  text-wrap: nowrap;
  overflow: hidden ;
  max-width: 300px;
  font-family: var(--typography-primary);
  padding-block: 0;
  align-content: center;
  border-right-width:20px;
  border-right-color: transparent;
  transition-property: color;
  transition-duration: 0.3s;
  &:hover{
    /* text-wrap: wrap; */
  }
  /* box-sizing: border-box; */
}

.icon-option-menu{
  display: block;
  height: 35px;
}

.option-menu--closed{
  .option-menu__content{

    display: none;
  }

}
.option-menu__content{
  position: absolute;
  top: 35px;
  right: 0px;
  display: flex;
  z-index: 1;
  flex-direction: column;
  background-color: var(--surface--950);
  border: 1px solid var(--primary--400);
  box-shadow: var(--shadow-sm);

}
.option-menu__title{
  cursor: pointer;
  padding-left: 10px;
  padding-right: 40px;
  padding-block: 10px;
  color: var(--foreground--100);
  border-bottom-color: var(--primary--400);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  transition-property: background-color;
  transition-duration: .5s;
  &:hover{
    background-color: var(--primary--500);

  }
}
[data-theme="light"] .table__body-cell{
  color: var(--foreground--900);
}