.project-list{
     display: flex; 
     gap: var(--space-3);
    overflow-x: scroll;
    max-width: 90vw;
    scrollbar-color: red black;
    background-color: rgb(0, 0, 0,0.5); 

     @media ( 1024px <= width){
        background: none;
        flex-wrap: wrap;
        justify-content: center;
        overflow-x: auto;

    } 
}
