

.home-background-image {
  position: fixed;
  width: 100%;
  min-height: 110vh;
  z-index: 1;
  color: black;
  filter:  opacity(0.7);
  background-image:   url("https://res.cloudinary.com/dxryc5jgr/image/upload/c_scale,q_70,w_1622/v1692046970/developer-site/developer-1.webp");
  background-position: top ;
  background-size: cover;
  background-blend-mode: saturation;
  animation-name: hide;
  background-repeat: no-repeat;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-timeline: scroll(root);
  @media (1024px <= width) {
    min-height: 100svh;
    background-position: center 30%;
    
  }
}
@keyframes hide {
  0%{
    opacity: 1;

  }
  20%{
    opacity: 0;
    background-position: center bottom;

  }

  100%{
    opacity: 0;
  }
}
