.accordion-item {
}
.accordion-item__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: var(--dark);
  border: 1px solid var(--white);
  align-items: center;
  cursor: pointer;
  padding-inline: var(--space-2);
}
.accordion-item__content {
  width: 100%;

  margin-top: var(--space-2);
  right: 0;
  height: 0;
  overflow: hidden;
  border: none;
  transition: height 0.3s;
  background: var(--dark);
}
.accordion-item__content.active {
  margin-top: var(--space-2);

  height: 250px;

  transition: height 0.3s;
}
