.label-list__headers{

    display: grid;
    grid-template-columns: repeat(6,minmax(0px,120px));
    gap: var(--space_2);

}
.label-list__headers > *{
    overflow: hidden;
    white-space: nowrap;
}
