.projects-filter {
  position: fixed;
  top: var(--space-6);
  right: var(--space-4);
  z-index: 1;
}

.portfolio-project-list {
  margin-top: 10rem;
  margin-inline: auto;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  gap: var(--space-3);
  max-width: 90vw;
}
