
.portfolio-page .projects-filter {
  display: flex;
  position: fixed;
  justify-content: end;
  top: var(--space-6);
  right: var(--space-4);
  width: 90%;

}

.portfolio-page .projects-list-container {
    padding-top: 90px !important;
  overflow-y: scroll;
  background-color: var(--neutral_950);
  padding: 1rem;
}

.projects-list-container {

    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
  justify-content: center;
  column-gap: var(--space-4);

  row-gap: var(--space-4);
}
.projects-filter-form {
  top: 300px;
}
