.projects-filter {
  position: fixed;
  top: var(--space-6);
  right: var(--space-4);
  z-index: 1;
}

.portfolio-project-list {
  margin-inline: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  max-width: 90vw;
  padding-top: 50px;
}
.projects-list-container {
  /* background: linear-gradient(-225deg,var(--surface--950) 25%,var(--primary--900)); */
  /* background-image: url("https://res.cloudinary.com/dxryc5jgr/image/upload/c_scale,q_70,w_1512/v1692046970/developer-site/developer-2.webp"); */
  /* background-repeat: no-repeat; */
  height: 100svh;
  /* width: 100%; */
  overflow: auto;
  /* background-size: cover; */
  padding-bottom: 160px;

  /* background-position: 0% 55%; */

  @media (width >= 1024px) {
    /* background-size: 100%; */

    /* background-position: center 55%; */
  }
}
