.project-card {
  position: relative;
  min-width: 370px;
  max-width: 380px;
  transition: opacity 0.5s;
}

.project-card__image {
  width: 100%;
  border-radius: 15px;
}
.project-card__tech-image {
  width: 24px;
}

.project-card__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  position: absolute;
  justify-content: end;
  bottom: 0;
  height: 100%;
  padding-inline: var(--space-6);
  padding-block-end: var(--space-4);
  border-radius: 15px;

  /* background: rgb(0, 0, 0); */
  background: linear-gradient(180deg,#ff2c6230,#ff2c6290)  rgba(0, 0, 0, 0.8);
  transition: inherit;
  @media (1024px<= width) {
    opacity: 0;
  }
}
.project-card__button-icon {
  stroke: var(--primary--500);
  transition: stroke 0.5s;
}

.project-card__button-icon {
  stroke: var(--primary--500);
}

.project-card__title {
  color: var(--primary--500) !important;
  text-transform: uppercase;
  font-weight: 700;
}

.project-card__description {
  color: var(--foreground--200) !important;
}
.project-card__tech-text {
  color: var(--foreground--200) !important;
}

.project-card:hover {
  opacity: 1;
  .project-card__content {
    opacity: 1;
  }
  .project-card__actions {
    opacity: 1;
  }
}

.project-card__tech-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 150px));
  justify-content: space-between;
  row-gap: var(--space-5);
  padding-top: 20px;
  margin-top: 12px;

  border-top-width: 2px;
  border-top-style: solid;
  border-color: var(--primary--500);
}
.project-card__tech-container {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}
.project-card__actions {
  transition: inherit;

  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  top: 10px;
  gap: 12px;
  right: 10px;
  position: absolute;
  .button:hover .project-card__doc-icon {
    stroke: black;
  }
  .project-card__doc-icon {
    stroke: var(--primary--500);
  }

  .button:hover .project-card__code-icon {
    fill: black !important;
  }
  .project-card__preview-icon {
    fill: var(--primary--500);
  }
  .button:hover .project-card__preview-icon {
    fill: black;
  }
  @media (1024px<= width) {
    opacity: 0;
  }
}
