.accordion-item{
    width: 100%;
}
.accordion-item__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--dark);
    border: 1px solid var(--white);
    align-items: center;
    cursor: pointer;
    padding-inline: var(--space_2);
    
}
.accordion-item__content{
    height: 0;
    
        overflow: hidden;
        border: none;
}
.accordion-item__content.active{
    border-bottom: 1px solid var(--white);

 border-left: 1px solid var(--white);

 border-right: 1px solid var(--white);
}