.project-card {
  position: relative;
  min-width: 370px;
  max-width: 380px;
  opacity: 0.9;
  transition: opacity 0.5s;
  @media(1024px<= width){
    opacity: 0.7;
  }
}

.project-card__image {
  width: 100%;
}
.project-card__tech-image {
  width: 24px;
}

.project-card__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  position: absolute;
  justify-content: end;
  bottom: 0;
  height: 100%;
  padding: var(--space-3);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 15%,

    rgba(0, 0, 0, 1) 100%
  );
  transition: inherit;
  @media(1024px<= width){
    opacity: 0;
  }
}
.project-card__button-icon{
  stroke: var(--primary--500);
  transition: stroke 0.5s;

}

.project-card__button-icon{
  stroke: var(--primary--500);
}

.project-card__title {
  color: var(--primary--500) !important;
}

.project-card__description {
  color: var(--foreground--200) !important;
}
.project-card__tech-text {
  color: var(--foreground--200) !important;
}

.project-card:hover {
  opacity: 1;
  .project-card__content{
   opacity: 1; 

  }
  .project-card__actions{
    opacity: 1;

  }
}

.project-card__tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3);
}
.project-card__tech-container {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}
.project-card__actions {
  transition: inherit;

  display: flex;
  top: 10px;
  right: 10px;
  position: absolute;
  &:hover .project-card__button-icon{
    stroke: black;
  }
  @media(1024px<= width){
    opacity: 0;
  }
}
