/* 

bloques:

  button;
  
modificadores: 

  estado: loading,hover,focus,disable,normal 
  tipo de accion del boton: primary , secondary,
  tamano: large ,wide, small

elementos:
  texto
  icono (lado izquierdo)
  loader
*/
.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 16px 48px;
  border-width: 2px;
  border-style: solid;
  height: fit-content;
}

.button__icon {
  width: 36px;
  fill: white;
}
.button__text {
  font-family: var(--typography-primary);
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.3s;
}
.button__loader {
  display: none;
  width: var(--body-medium);
  height: var(--body-medium);
}

.button--large {
  font-size: var(--body-medium);
  width: max-content;
}
.button--wide {
  font-size: var(--body-medium);
  width: 100%;
}
.button--small {
  font-size: var(--body-small);
  padding: 6px 12px;
}
.button--loading {
  cursor: default;
  gap: var(--space-3);
  background-color: transparent !important;
  box-shadow: none !important;

}
.button--loading .button__text{
  color: var(--primary--500) !important;
  
}

.button--loading .button__loader {
  display: block;
}

.button--disabled {
  cursor: default;
}

.button--disabled .button__icon {
  fill: var(--neutral--600);
}

.button--disabled.button--primary .button__text {
  color: var(--primary--950);
}

.button--disabled.button--primary {
  border-color: var(--primary--950);
}

/* primary */
.button--primary {
  border-color: var(--primary--500);
  background-color: transparent;
}

.button--primary .button__text {
  color: var(--primary--500);
}

.button--primary.button--normal:hover,
.button--primary.button--normal:focus {
  background-color: var(--primary--500);
  transition: all 0.3s;
  box-shadow: var(--shadow-lg);
}

.button--primary.button--normal:hover .button__text,
.button--primary.button--normal:focus .button__text {
  color: var(--foreground--950);
}

.button--primary .button__loader {
  border-radius: 50%;
  background: conic-gradient(#0000 10%, var(--primary--500));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s2 1s infinite linear;
}
@keyframes s2 {
  to {
    transform: rotate(1turn);
  }
}

/* secondary */
.button--secondary {
  border-color: var(--foreground--500);
  background-color: transparent;
}

.button--secondary .button__text {
  color: var(--foreground--500);
}
.button--disabled.button--secondary {
  border-color: var(--foreground--900);
}

.button--disabled.button--secondary .button__text {
  color: var(--foreground--900);
}

.button--secondary:hover.button--normal,
.button--secondary:focus.button--normal {
  background-color: var(--primary--950);
  transition: all 0.3s;
}

.button--secondary .button__loader {
  border-radius: 50%;
  background: conic-gradient(#0000 10%, var(--foreground--500));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}
