/* 
modificacdores: loading,hover,focus,disable , primary
elementos: texto,icono (izquierda)
*/
.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 16px 48px;
  border-width: 2px;
  border-style: solid;
  height: fit-content;
  transition: all 0.5s;
}

.button__icon{
  width: 36px;
  fill: white;
}
.button__text{
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.button__loader {
  display: none;
  width:var(--body-medium);
  height:var(--body-medium);  
}

.button--large {

  font-size: var(--body-medium);
  width: max-content;
}
.button--wide{

  font-size: var(--body-medium);
  width: 100%;
}
.button--small{
  font-size: var(--body-small);
  padding: 6px 12px;

}

.button--disabled{
  cursor: default;
}
.button--disabled .button__icon{
  fill: var(--neutral--600);
}

.button--disabled.button--outlined {
  color: var(--neutral--600);
  border-color: var(--neutral--600);
  
  
}
.button--disabled.button--filled {
  color: var(--neutral--100);
  border-color: var(--neutral--100);
  background-color: var(--primary--100);
}

.button--outlined {
  border-color: var(--white);
  background-color: transparent;
}

.button--filled {
  border-color: var(--neutral--950);
  background-color: var(--primary--600);
}

.button--filled .button__text{
  color: var(--neutral--950);
}

.button--outlined .button__text {
  color: var(--neutral--50);
}

.button--outlined:hover,.button--outlined:focus {
  color: var(--neutral--950);
  border-color: var(--primary--600);
  background-color: var(--primary--600);
  transition: all 0.5s;
  box-shadow: 0 0 5px var(--primary--600),
  0 0 25px var(--primary--600),
  0 0 50px var(--primary--600),
  0 0 200px var(--primary--600);
}

.button--loading .button__loader {
  display: block;
}

.button--filled > .button__loader {
  border-radius:50%;
  background:conic-gradient(#0000 10%,var(--white));
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation:s2 1s infinite linear;
}
@keyframes s2 {to{transform: rotate(1turn)}}

.button--outlined > .button__loader {
  border-radius:50%;
  background:conic-gradient(#0000 10%,var(--white));
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation:s3 1s infinite linear;
}

@keyframes s3 {to{transform: rotate(1turn)}}

