@import url("./button.css");
@import url("./icon-button.css");
@import url("./text-area.css");
@import url("./text-field.css");
@import url("./select.css");
@import url("./notification.css");
@import url("./typography.css");
@import url("./section-container.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

html {
  font-size: 16px;
}

body {
  background: var(--surface--950);
}


.icon {
  transition: all 0.4s;
}
.icon:hover {
  transition: all 0.4s;
}
