

h1,h2,h3,h4,h5,h6,p,span,ul {
  margin: 0;
}
.typography {
    color: var(--foreground--50);
    font-family: var(--typography-primary);
}

.typography--primary{
  color: var(--primary--600);
}

.typography--white{
  color: var(--white);
}
.link.typography--link {
  text-decoration: underline;
  color: var(--primary--600);
}
.link.typography--link:hover{
  cursor: pointer;
  color: var(--primary--100);
  
}
.typography--title-large {
  font-size: var(--title-large);
}

.typography--title-medium {
  font-size: var(--title-medium);
}

.typography--title-small {
  font-size: var(--title-small);
}

.typography--body-medium {
  font-size: var(--body-medium);
  line-height: var(--space-6);
}
.typography--body-small {
  font-size: var(--body-small);
}
