.portfolio-page{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns:1fr
}

.portfolio-page .projects-filter{
display: none;
}
.portfolio-page .projects-list-container{
    overflow-y: scroll;
    background-color: var(--neutral_950);
    padding: 1rem;
}
@media (min-width:768px){
    .portfolio-page{
        grid-template-columns: 200px 1fr
    }   
    .portfolio-page .projects-filter{
        display: block;
        overflow-y: scroll;
        background-color: var(--dark);
    
    }
    
}