.job-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* gap: var(--space-32); */
  z-index: 1;
  position: relative;
  border-left: 2px solid var(--surface--600);
  gap: 16px;
  @media (min-width: 768px) {
    flex-direction: row;
    /* align-items: center; */
  }
  padding-block-end: 80px;
}
.job-card__line{
  width: 12px;
  height: 12px;
  background-color: var(--primary--500);
  position: absolute;
  left: -7px;
  top: 10px;
  border-radius: 50%;

}
.job-card__general-info-container {
  display: flex;
  gap: var(--space-4);
  min-width: 280px;
  margin-left: var(--space-8);

  @media (min-width: 768px) {
    margin-right: var(--space-12);
  }
}

.job-card__general-info {
  display: flex;

  flex-direction: column;
}
.job-card__description {
  margin-left: var(--space-8);

  color: var(--foreground--100) !important;
}
.job-card__logo {
  width: 80px;
  height: fit-content;
  /* height: auto; */
  /* border-radius: 50%; */
}
.job-card__title{
  color: var(--primary--500);
  font-weight: 900;
  margin-bottom: 6px;
}