/* 

Bloques:

job-card

Elementos:

  general-info-container

  general-info__text
  description
  logo

Modificadores
 sin modificadores

*/

.job-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--space-6);
  justify-content: space-between;
  gap: var(--space-3);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  backdrop-filter: blur(7.3px);
  z-index: 1;
  -webkit-backdrop-filter: blur(7.3px);
  animation-name: reveal;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-timeline: view();
  animation-range: entry 30%;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.job-card__general-info-container {
  display: flex;
  gap: var(--space-4);
  min-width: 280px;
  @media (min-width: 768px) {
    border-right: 2px solid var(--primary--500);
    margin-right: var(--space-4);
  }
}

.job-card__general-info {
  display: flex;

  flex-direction: column;
}
.job-card__description {
  color: var(--foreground--100) !important;
}
.job-card__logo {
  width: 80px;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
