.portfolio-detail-page {
  display: flex;
  background: linear-gradient(-225deg,var(--surface--950) 25%,var(--primary--900));

  justify-content: center;
  min-height: 100svh;
}

.project-description {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  color: var(--foreground--50);
  grid-column: 1/-1;
  font-family: "Ubuntu", sans-serif;
}

.project-description img {
  width: 100%;
  max-height: 380px;
  object-fit: cover;
  object-position: top;
}

.project-description h2 {
  font-size: var(--title-medium);
  margin-block: var(--space-4);
}

.project-description h3 {
  font-size: var(--title-small);
  margin-block: var(--space-3);
}

.project-description h4 {
  font-size: var(--title-small);
  margin-block: var(--space-2);
}

.project-description ul {
  list-style: inside;
}

.project-description li {
  margin-block: var(--space-3);
  /* margin-left: var(--space-4); */
}

.project-description p {
  font-size: var(--body-medium);
  margin-block: var(--space-3);
}

.project-description a {
  text-decoration: underline;
  color: var(--primary--600);
}

.project-description a:hover {
  cursor: pointer;
  color: var(--primary--100);
}

.project-description h1 {
  align-self: center;
  font-size: var(--title-large);
  margin-block: var(--space-7);
}
