.portfolio-detail-page {
  background: var(--dark);
  justify-items: center;
}

.project-description {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  color: var(--white);
  grid-column: 1/-1;
  font-family: "Ubuntu", sans-serif;
}

.project-description img {
  width: 100%;
  max-height: 380px;
  object-fit: cover;
  object-position: top;
}

.project-description h2 {
  font-size: var(--font_size_title_medium);
  margin-block: var(--space_4);
}

.project-description h3 {
  font-size: var(--font_size_title_small);
  margin-block: var(--space_3);
}

.project-description h4 {
  font-size: var(--font_size_title_small);
  margin-block: var(--space_2);
}

.project-description ul {
  list-style: inside;
}

.project-description li {
  margin-block: var(--space_3);
  /* margin-left: var(--space_4); */
}

.project-description p {
  font-size: var(--font-size-body-medium);
  margin-block: var(--space_3);
}

.project-description a {
  text-decoration: underline;
  color: var(--primary_300);
}

.project-description a:hover {
  cursor: pointer;
  color: var(--primary_100);
}

.project-description h1 {
  align-self: center;
  font-size: var(--font_size_title_large);
  margin-block: var(--space_7);
}
